<html>
  <head>
    <title>My Library App!</title>

    <!-- CSS stylesheets -->
    <link href ="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href ="/stylesheets/style.css" rel="stylesheet">


  </head>
  <body ng-app="bookLibrary">
   <div>
    <ui-view></ui-view>
  </div>


    <script type="text/ng-template" id="/home.html">
      <h1>Library Web App</h1>
     
      <div class="row">
        <div class="col-sm-12 col-md-20">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Library Book List</h3>
            
                   <ul ng-repeat="book in books" ng-click="setSelected(book)" ng-class="{ selected: book === SelectedBook}">
                    <li>
                      {{ book }}
                    </li>
                   </ul>  
                       
            </div>
          </div>
        </div>
      </div>
     </div>

      <div class="col-sm-12 col-md-20">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-body">    
              
              <form ng-submit="add()">
                <input type="text" placeholder="Title" ng-model="title"></input>
                <input type="text" placeholder="Name of Author" ng-model="authorName"></input>
                <input type="text" placeholder="ISBN" ng-model="ISBN"></input>
                <input type="text" placeholder="Number of Books" ng-model="numOfBooks"></input>
                <input type="text" placeholder="Date published" ng-model="publishDate"></input>
                <input type="text" placeholder="Book Category" ng-model="bookCat"></input>
                <input type="text" placeholder="Number of Books Issued" ng-model="numBooksIssued"></input>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>


                <button class="btn btn-danger" ng-click="delete()">Delete</button>


              <form ng-submit="edit()">
                <input type="text" placeholder="Number of Books" ng-model="numOfBooks"></input>
                <button type="submit" class="btn btn-primary">Edit</button>
              </form>

              <div>
                {{ SelectedBook.title }}
              </div>
        </div>
      </div>
     </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-20">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Library Transaction book List</h3>

                  <ul ng-repeat="book in added track by $index">
                    <li>
                      {{ book }}
                    </li>
                   </ul>  
                    

            </div>
          </div>
        </div>
        </div>
      </div>
   </script>


  </body>
  <!-- AngularJS External Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src= "http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  
  <!-- Angular App -->
  <script src="/javascripts/angularApp.js"></script>
  
  <!-- Angular Controllers -->
  <script src="/javascripts/controllers.js"></script>
  
  <!-- Angular Services -->
  <script src="/javascripts/services.js"></script>

  <!-- Angular Routes -->
  <script src="/javascripts/angularRoutes.js"></script>

</html>