<html>
  <head>
    <title>My Library App!</title>

    <!-- CSS stylesheets -->
    <link href ="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href ="/stylesheets/style.css" rel="stylesheet">


  </head>
  <body ng-app="bookLibrary">
   <div>
    <ui-view></ui-view>
  </div>


    <script type="text/ng-template" id="/home.html">
      <h1>Library Web App</h1>
     
     
      <div class="panel-group">
        <div class="panel">
          <div class="panel-body">
                
            <h3>Library Book List</h3>
              <table class= "table">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>ISBN</th>
                    <th>Number of Books</th>
                    <th>Date Published</th>
                    <th>Category</th>
                    <th>Number of Books Issued</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="book in books" ng-click="setSelected(book)" ng-class="{ selected: book === SelectedBook}">                
                    <td>{{ book.title }}</td>
                    <td>{{ book.authorName }}</td>
                    <td>{{ book.ISBN }}</td>
                    <td>{{ book.numOfBooks }}</td>
                    <td>{{ book.publishDate }}</td>
                    <td>{{ book.bookCat }}</td>
                    <td>{{ book.numBooksIssued }}</td>                   
                  </tr>  
                   <tr> <!-- Row below is for input fields for adding a book -->
                      <td><input class="form-control" placeholder="Title" ng-model="title"></input></td>
                      <td><input class="form-control" placeholder="Name of Author" ng-model="authorName"></input></td>
                      <td><input class="form-control" placeholder="ISBN" ng-model="ISBN"></input></td>
                      <td><input class="form-control" placeholder="Number of Books" ng-model="numOfBooks"></input></td>
                      <td><input class="form-control" placeholder="Date Published" ng-model="publishDate"></input></td>
                      <td><input class="form-control" placeholder="Category" ng-model="bookCat"></input></td>
                      <td><input class="form-control" placeholder="Books Issued" ng-model="numBooksIssued"></input></td>
                      <td><button ng-click="add()" class="btn btn-primary">Add</button></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><button class="btn btn-danger" ng-click="delete()">Delete</button></td>
                    <td><button class="btn btn-warning" ng-click="edit()">Edit</button></td>   
                    <td><button class="btn btn-info" ng-click="update()">Update</button></td>
                  </tr>
                  <tr>
                    <td>Currently Selected:</td> 
                  </tr>
                  <tr>               
                    <td>{{ SelectedBook.title }}  </td>
                    <td>{{ SelectedBook.authorName }}</td>
                    <td>{{ SelectedBook.ISBN }} </td>
                    <td>{{ SelectedBook.numOfBooks }}</td>
                    <td>{{ SelectedBook.publishDate }} </td>
                    <td>{{ SelectedBook.bookCat }}</td>
                    <td>{{ SelectedBook.numBooksIssued }}</td>                 
                  </tr>      
                </tbody>
              <table>      
      </div>
    </div>
  </div>
    

    
   </script>


  </body>
  <!-- AngularJS External Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src= "http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
  
  <!-- Angular App -->
  <script src="/javascripts/angularApp.js"></script>
  
  <!-- Angular Controllers -->
  <script src="/javascripts/controllers.js"></script>
  
  <!-- Angular Services -->
  <script src="/javascripts/services.js"></script>

  <!-- Angular Routes -->
  <script src="/javascripts/angularRoutes.js"></script>

</html>