body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  cursor: pointer;
  clear: both;
  list-style-type: none;
  width: 90%;
}

li {
  float: left;
}

.selected td{
   background-color: yellow;
}
